git+https://github.com/subinps/pyrogram@inline-m
tgcrypto==1.2.2
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
ytthumb
umongo==3.0.0
telegraph
requests
img2pdf
bs4
imdbpy
googletrans==3.1.0a0
python-decouple
pyshorteners
aiohttp==3.7.4
asyncio==3.4.3
aiofiles
gtts
pypdf2
tswift
python-telegram-bot==11.1.0
